<div class="container-fluid content">
  <div class="leaderboard">
    <h4>Leaderboard</h4>
    <% @users.each do |user| %>
    <p class="leaderboard-user">
      <a href="<%= user_path(user.id) %>"><%= user.username %></a>
      <span><%= user.points %> points</span>
    </p>

    <% end %>

  </div>
</div>
