<div class="container-fluid content">
  <div class="leaderboard">
    <h4>Leaderboard</h4>
    <% @users.each do |user| %>
    <img class="leaderboard-user-avatar img-fluid" src="<%= user.image.url %>" alt="">
    <p class="leaderboard-user">
      <a href="<%= user_path(user.id) %>">
        <%= user.username %>
      </a>
      <span class="leaderboard-points"><%= user.points %> points</span>
    </p>
    <% end %>
  </div>
</div>
