<h1><%= @user.username %></h1>

<% if @user.founds %>
  <h2>Points: <%= @user.points %></h2>
  <h2>Found these locations:</h2>
  <% locations_arr = locations_found @user %>
  <% locations_arr.each do |location| %>
  <!-- url to this location by id -->
    <a href="<%= location_path(location) %>">
      <img width="400" src="<%= Location.find(location).image.url %>">
    </a>
  <% end %>
<% else %>
<h2>No locations found yet</h2>
<% end %>
