<h1><%= @user.username %></h1>

<% if @user.founds %>
<h2>Points: <%= @user.points %></h2>
<h2>Found these locations:</h2>
<% @user.founds.each do |found| %>
<!-- url to this location by id -->
  <a href="<%= location_path(found.game_location.location.id) %>">
    <img width="400" src="<%= found.game_location.location.image.url %>">
  </a>
<% end %>
<% else %>
<h2>No locations found yet</h2>
<% end %>