<h1><%= @user.username %></h1>

<% if @user.founds %>
<h2>Found these locations:</h2>
<% @user.founds.each do |found| %>
<!-- url to this location by id -->
  <a href=""></a>
  <img src="<%= found.location.image.url %>">
<% end %>
<% else %>
<h2>No locations found yet</h2>
<% end %>