<div class="container-fluid content">
  <h1>Games</h1>
  <div class="add-game">
    <% if logged_in? %>
    <a class="btn btn-info" href="/games/new">Create Game</a>
    <% end %>
  </div>

  <div class="row">
    <% @games.each do |game| %>
    <div class="col-12 col-sm-6 col-lg-4 game-box">
      <h4><a href="games/<%= game.id %>"><%= game.name %></a></h4>
      <p>Started on <%= game.created_at.strftime("%d-%m-%Y") %></p>
      <img class="img-fluid game-image" src="<%= game.locations.first.image.url %>" alt="" width="100%">
    </div>
    <% end %>
  </div>
</div>
