/*-------------------HEADER STYLES-----------------------*/

header {
  background: #1c313a;
}

.logo-row {
  padding: 20px 0;
}

a.logo {
  font-size: 42px;
  color: #fff;
  font-family: 'Leckerli One', cursive;
}

a.logo:hover {
  text-decoration: none;
}

.user-info {
  text-align: right;
  color: #fff;
}

h3.welcome-message {
  font-size: 22px;
}

nav {
  background: #455a64;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
/*--------------------CONTENT-------------------------*/
body {
  font-family: 'Raleway', sans-serif;
  background: #718792;
}

.content {
  background: #fff;
  padding: 20px;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
}

a {
  color: #17a2b8;
}

a:hover {
  color: #00b0ff;
}

/*-----------------------LOCATION PAGES----------------------*/

.location-desc {
  padding: 10px 50px;
}

.location-image {
  height: 12em;
  object-fit: cover;
}

.locations-index-desc {
  text-align: center;
  padding-top: 20px;
}

.add-location {
  text-align: center;
  padding-bottom: 30px;
}

.game-location-name {
  text-align: center;
  padding-top: 20px;
  padding-left: 10px;
}

.found-it {
  text-align: center;
  padding-top: 50px;
}

.found-it-btn {
  cursor: pointer;
}
.game-location-link {
  position: relative;
}
.found-tick {
  position: absolute;
  top: -30px;
  right: 38%;
  color: #fff;
  background-color: #00b0ff;
  padding: 8px 10px;
  border-radius: 50%;
  font-size: 60px;
  text-align: center;
}
.found-tick::before {
  vertical-align: middle;
}
/*----------------------------GAMES PAGE---------------------------*/

.game-box {
  padding: 20px;
}
.game-image {
  height: 12em;
  object-fit: cover;
}

.add-game {
  padding: 30px 0;
}

/*-----------------------LEADERBOARD-----------------------------*/

.leaderboard {
  padding: 20px 0 20px 20px;
  margin-bottom: 20px;

}

.leaderboard h4 {
  padding-bottom: 30px;
}

.leaderboard-user {
  background: #e3e3e3;
  width: 300px;
  padding: 5px 20px;
  border-bottom: 1px solid #718792 ;
  display: block;
}

.leaderboard-user span {
  float: right;
}

/*--------------------FOOTER STYLES------------------*/

footer {
  background: #1c313a;
  text-align: right;
  padding: 10px 0;
  color: #fff;
}
