/*-------------------HEADER STYLES-----------------------*/

header {
  background: #1c313a;
}

.logo-row {
  padding: 20px 0;
}

a.logo {
  font-size: 42px;
  color: #fff;
  font-family: 'Leckerli One', cursive;
}

a.logo:hover {
  text-decoration: none;
}

.user-info {
  text-align: right;
  color: #fff;
}

h3.welcome-message {
  font-size: 22px;
}

nav {
  background: #455a64;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
/*--------------------CONTENT-------------------------*/
body {
  font-family: 'Raleway', sans-serif;
  background: #718792;
}

.content {
  background: #fff;
  padding: 20px;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
}

a {
  color: #17a2b8;
}

a:hover {
  color: #00b0ff;
}

/*-----------------------LOCATION PAGES----------------------*/

.location-desc {
  padding: 10px 50px;
}

.location-image {
  height: 12em;
  object-fit: cover;
}

.locations-index-desc {
  text-align: center;
  padding-top: 20px;
}

.add-location {
  text-align: center;
  padding-bottom: 30px;
}

.game-location-name {
  text-align: center;
  padding-top: 20px;
  padding-left: 10px;
}

.found-it {
  text-align: center;
  padding-top: 50px;
}

.found-it-btn {
  cursor: pointer;
}

.found-tick {
  color: #fff;
  background: #39cc54;
  border: 1px solid #39cc54;
  border-radius: 50%;
  padding: 0 5px;
  margin-left: 20px;
}
/*----------------------------GAMES PAGE---------------------------*/

.game-box {
  padding: 20px;
}
.game-image {
  height: 12em;
  object-fit: cover;
}

.add-game {
  padding: 30px 0;
}

/*--------------------FOOTER STYLES------------------*/

footer {
  background: #1c313a;
  text-align: right;
  padding: 10px 0;
  color: #fff;
}
