// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-details {
  .user-avatar {
    background-image: url(http://via.placeholder.com/300x300);
    background-size: cover;
    height: 300px;
    width: 300px;
    display: inline-block;
    img {
      width: 100%;
    }
  }
  .about-user {
    display: inline-block;
    
  }
}
