<div class="container-fluid content">
  <h1>All Locations</h1>
  <p class="locations-index-desc">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.<br>
  </p>
  <div class="add-location">
    <% if logged_in? %>
    <a class="btn btn-info" href="locations/new">Add a Location</a>
    <% end %>
  </div>
  <div class="row">
    <% @locations.each do |location| %>
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
    <a href="/locations/<%= location.id %>">
      <img class="img-fluid location-image" src="<%= location.image %>" alt="<%= location.name %>" width="100%">
    </a>
    </div>
    <% end %>
  </div>
</div>
