<%= form_for @locations, html: { multipart: true } do |f| %>
  <label for="name">Name</label>
  <input type="text" name="name" value="" placeholder="name of location...">
  <label for="lat">Latitude</label>
  <input type="text" name="lat" value="" placeholder="Enter decimal here...">
  <label for="long">Longitude</label>
  <input type="text" name="long" value="" placeholder="Enter decimal here...">
  <%= f.file_field :image %>
  <%= f.hidden_field :image_cache %>
  <label for="description">Description</label>
  <textarea name="description" rows="8" cols="80" placeholder="Enter description and hints here..."></textarea>
  <button type="submit" name="button">Submit</button>

<% end %>
