<div class="container-fluid content">
  <%= form_for @locations, html: { multipart: true } do |f| %>
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" type="text" name="name" placeholder="name of location...">
  </div>
  <div class="form-group">
    <label for="lat">Latitude</label>
    <input id="lat" class="form-control" type="text" name="lat" value="" placeholder="Enter decimal here...">
  </div>
  <div class="form-group">
    <label for="long">Longitude</label>
    <input id="long" class="form-control" type="text" name="long" value="" placeholder="Enter decimal here...">
  </div>
  <div class="form-group">
    <%= f.file_field :image, class: "form-control-file" %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="form-group">
    <label for="description">Description</label><br>
    <textarea class="form-control" name="description" rows="8" cols="80" placeholder="Enter description and hints here..."></textarea>

  </div>
  <button class="btn btn-info" type="submit" name="button">Submit</button>

  <% end %>
  
  <script>
    getLocation();
  </script>

</div>
