<h2><%= @location.name %></h2>
<img src="<%= @location.image %>" alt="<%= @location.name %>" width="400">
<div class="location-desc">
  <h3>Description</h3>
  <p><%= @location.description %></p>
</div>
